In [1]:
#Problem Description
#You have two files named movies_en.json and artists_en.json containing a small movie database in the JSON format. 
# You need to load them into Spark Data frames and perform analysis.


#Spark Imports and Get Context

#https://spark.apache.org/docs/latest/sql-getting-started.html
from pyspark import SparkContext, SparkConf, SQLContext
from os import getcwd

conf = SparkConf().setAppName('SparkS1')
sc = SparkContext(conf=conf).getOrCreate()
spark = SQLContext.getOrCreate(sc)

In [3]:
#Import movieDF and print 
movieJDF = spark.read.json('datasets/movie/movies_en_1_0.txt')
movieJDF.printSchema()
movieJDF.show(5)

root
 |-- actors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- role: string (nullable = true)
 |-- country: string (nullable = true)
 |-- director: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |    |-- year_of_birth: string (nullable = true)
 |-- genre: string (nullable = true)
 |-- id: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+--------------------+-------+--------------------+---------------+-------+--------------------+-------------+----+
|              actors|country|            director|          genre|     id|             summary|        title|year|
+--------------------+-------+--------------------+---------------+-------+--------------------+-------------+----+
|[{artist:15, John...|    USA|{Alfred, artist:3...|          Drama|movie:1|A retired San Fra...|      Vertigo|1958|
|[{artist:5, Ripley}]|    USA|{Ridley, artist:4...|Science-Fiction|movie:2|The commercial ve...|        Alien|1979|
|[{artist:109, Ros...|    USA|{James, artist:6,...|          Drama|movie:3|A seventeen-year-...|      Titanic|1997|
|                  []|     FR|{Andrei, artist:9...|          drama|movie:4|                null|The Sacrifice|1986|
|[{artist:11, Sean...|    USA|{John, artist:10,...|         Action|movie:5|To foil an extort...|     Face/Off|1997|
+--------------------+-------+--------------------+---------------+-------+--------------------+-------------+----+
only showing top 5 rows

In [5]:
# Import artistDF and print
artistsJDF = spark.read.json('datasets/movie/artists_en_1_2.txt')
artistsJDF.printSchema()
artistsJDF.show(5)

root
 |-- first_name: string (nullable = true)
 |-- id: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- year_of_birth: string (nullable = true)

+----------+--------+---------+-------------+
|first_name|      id|last_name|year_of_birth|
+----------+--------+---------+-------------+
|     Sofia|artist:1|  Coppola|         1971|
|   Kirsten|artist:2|    Dunst|         null|
|    Alfred|artist:3|Hitchcock|         1899|
|    Ridley|artist:4|    Scott|         1937|
| Sigourney|artist:5|   Weaver|         1949|
+----------+--------+---------+-------------+
only showing top 5 rows

In [6]:
#Assignment 2 - Write a query to group titles of American movies by year

from pyspark.sql.functions import *
		
AmericanMDF = movieJDF.filter(movieJDF.country == 'USA')
AmericanMDFL = AmericanMDF.withColumn('AmericalMovies', struct('title')).groupBy('year').agg(collect_list('AmericalMovies').alias('AmericalMovies'))
AmericanMDFL.show(5,truncate = False)

+----+----------------------------------------------+
|year|AmericalMovies                                |
+----+----------------------------------------------+
|1958|[{Vertigo}]                                   |
|1983|[{Star Wars: Episode VI - Return of the Jedi}]|
|1972|[{The Godfather}]                             |
|1979|[{Alien}]                                     |
|1988|[{Die Hard}, {Rain Man}]                      |
+----+----------------------------------------------+
only showing top 5 rows

In [8]:
#Assignment 3 : Write spark code to normalize the data frames created above and store the output as Parquet files

artistsJDF.write.parquet('datasets/artistp') #artistDF as parquet, requires hadoop

##Exploding array columns
		
movieJDF1 = movieJDF.withColumn('actors',explode(col('actors'))).select(col('actors.id').alias('actorid'),col('actors.role').alias('actorrole'),'country','director','genre','id','summary','title','year')
		
movieJDF2 = movieJDF1.select('actorid','actorrole','country',col('director.first_name').alias('director_fname'),col('director.id').alias('director_id'),col('director.last_name').alias('director_lname'),col('director.year_of_birth').alias('director_YOB'),'genre','id','summary','title','year')
movieJDF2.show()
movieJDF2.write.parquet('datasets/moviesp') #movieDF as parquet,requires hadoop

#Store link between Movie, Artist and Role played 
		
artistRoles = movieJDF.withColumn('actor',explode(col('actors'))).select('title','actor.id','actor.role')
artistRoleName = artistRoles.join(artistsJDF,'id','inner').select('title','id','role',concat(col('first_name'),lit(' '),col('last_name')).alias('artist_name')).sort('title')
artistRoleName.show()


artistRoleName.write.parquet('datasets/artistrolep') #artistRoleName as parquet,requires hadoop

+----------+--------------------+-------+--------------+-----------+--------------+------------+---------------+--------+--------------------+---------------+----+
|   actorid|           actorrole|country|director_fname|director_id|director_lname|director_YOB|          genre|      id|             summary|          title|year|
+----------+--------------------+-------+--------------+-----------+--------------+------------+---------------+--------+--------------------+---------------+----+
| artist:15|       John Ferguson|    USA|        Alfred|   artist:3|     Hitchcock|        1899|          Drama| movie:1|A retired San Fra...|        Vertigo|1958|
| artist:16|    Madeleine Elster|    USA|        Alfred|   artist:3|     Hitchcock|        1899|          Drama| movie:1|A retired San Fra...|        Vertigo|1958|
|  artist:5|              Ripley|    USA|        Ridley|   artist:4|         Scott|        1937|Science-Fiction| movie:2|The commercial ve...|          Alien|1979|
|artist:109| Rose DeWitt Bukater|    USA|         James|   artist:6|       Cameron|        1954|          Drama| movie:3|A seventeen-year-...|        Titanic|1997|
|artist:110|         Jack Dawson|    USA|         James|   artist:6|       Cameron|        1954|          Drama| movie:3|A seventeen-year-...|        Titanic|1997|
| artist:11|Sean Archer/Casto...|    USA|          John|  artist:10|           Woo|        1946|         Action| movie:5|To foil an extort...|       Face/Off|1997|
| artist:12|Castor Troy/Sean ...|    USA|          John|  artist:10|           Woo|        1946|         Action| movie:5|To foil an extort...|       Face/Off|1997|
| artist:14|Constable Ichabod...|    USA|           Tim|  artist:13|        Burton|        1958|        Mystery| movie:6|Ichabod Crane is ...|  Sleepy Hollow|1999|
| artist:96|Katrina Anne Van ...|    USA|           Tim|  artist:13|        Burton|        1958|        Mystery| movie:6|Ichabod Crane is ...|  Sleepy Hollow|1999|
| artist:97|          The knight|    USA|           Tim|  artist:13|        Burton|        1958|        Mystery| movie:6|Ichabod Crane is ...|  Sleepy Hollow|1999|
| artist:18|      Lester Burnham|    USA|           Sam|  artist:17|        Mendes|        1965|          Drama| movie:7|A sexually frustr...|American Beauty|1999|
| artist:19|     Carolyn Burnham|    USA|           Sam|  artist:17|        Mendes|        1965|          Drama| movie:7|A sexually frustr...|American Beauty|1999|
| artist:20|       William Munny|    USA|         Clint|  artist:20|      Eastwood|        1930|        Western| movie:8|Retired Old West ...|     Unforgiven|1992|
| artist:21|  Little Bill Dagget|    USA|         Clint|  artist:20|      Eastwood|        1930|        Western| movie:8|Retired Old West ...|     Unforgiven|1992|
| artist:22|           Ned Logan|    USA|         Clint|  artist:20|      Eastwood|        1930|        Western| movie:8|Retired Old West ...|     Unforgiven|1992|
| artist:23|             Maximus|    USA|        Ridley|   artist:4|         Scott|        1937|          Drama| movie:9|When a Roman gene...|      Gladiator|2000|
|artist:147|            Commodus|    USA|        Ridley|   artist:4|         Scott|        1937|          Drama| movie:9|When a Roman gene...|      Gladiator|2000|
|artist:148|             Lucilla|    USA|        Ridley|   artist:4|         Scott|        1937|          Drama| movie:9|When a Roman gene...|      Gladiator|2000|
|artist:149|     Marcus Aurelius|    USA|        Ridley|   artist:4|         Scott|        1937|          Drama| movie:9|When a Roman gene...|      Gladiator|2000|
| artist:24|             Deckard|    USA|        Ridley|   artist:4|         Scott|        1937|         Action|movie:10|A blade runner mu...|   Blade Runner|1982|
+----------+--------------------+-------+--------------+-----------+--------------+------------+---------------+--------+--------------------+---------------+----+
only showing top 20 rows

+--------------------+----------+--------------------+-----------------+
|               title|        id|                role|      artist_name|
+--------------------+----------+--------------------+-----------------+
|      Absolute Power| artist:69|          Seth Frank|        Ed Harris|
|      Absolute Power| artist:21|  President Richmond|     Gene Hackman|
|      Absolute Power| artist:20|      Luther Whitney|   Clint Eastwood|
|               Alien|  artist:5|              Ripley| Sigourney Weaver|
|     American Beauty| artist:18|      Lester Burnham|     Kevin Spacey|
|     American Beauty| artist:19|     Carolyn Burnham|    Anette Bening|
|      Bad Lieutenant| artist:98|      The Lieutenant|    Harvey Keitel|
|        Blade Runner| artist:25|               Batty|     Rutger Hauer|
|        Blade Runner| artist:24|             Deckard|    Harrison Ford|
|            Die Hard| artist:27|             McClane|     Bruce Willis|
|          Die Hard 2| artist:27|             McClane|     Bruce Willis|
|Die Hard: With a ...| artist:27|             McClane|     Bruce Willis|
|Die Hard: With a ...| artist:38|         Zeus Carver|Samuel L. Jackson|
|Die Hard: With a ...|artist:169|        Simon Gruber|    Bridget Fonda|
|  Enemy at the Gates|artist:182|     Vassili Zaïtzev|    Marlon Brando|
|  Enemy at the Gates|artist:183|         major König|     Diane Keaton|
|      Eyes Wide Shut|artist:102|       Alice Harford|    Nicole Kidman|
|      Eyes Wide Shut| artist:65|Docteur William "...|       Tom Cruise|
|            Face/Off| artist:11|Sean Archer/Casto...|    John Travolta|
|            Face/Off| artist:12|Castor Troy/Sean ...|     Nicolas Cage|
+--------------------+----------+--------------------+-----------------+
only showing top 20 rows

In [10]:
#Assignement4 - Write spark code to normalize the data frames created above and store the output as 3 Hive Table in Parquet files

spark.sql('create database sparkjson')


movieJDF2.write.saveAsTable('sparkjson.movie1',format='parquet')
artistsJDF.write.saveAsTable('sparkjson.artists',format='parquet')
artistRoleName.write.saveAsTable('sparkjson.artistsrole',format='parquet')

In [11]:
spark.sql('use sparkjson')

spark.sql('show tables').show()

+---------+-----------+-----------+
| database|  tableName|isTemporary|
+---------+-----------+-----------+
|sparkjson|    artists|      false|
|sparkjson|artistsrole|      false|
|sparkjson|     movie1|      false|
+---------+-----------+-----------+

In [12]:
#Assignment 5 - Execute a Spark SQL query on hive tables to list MovieID, Title, Year, Genre, Country, Director and actors by joining on the tables
#  created in assignment 4 and display the first 5 records in command prompt
	
assignment5 = spark.sql('''select m.id,title,year,genre,country,
        concat_ws(' ',director_fname, director_lname) as director,concat_ws(' ',first_name,last_name) as actor from 
        movie1 m inner join artists a on m.actorid = a.id''')

assignment5.show(10)

+-------+-------------+----+---------------+-------+----------------+------------------+
|     id|        title|year|          genre|country|        director|             actor|
+-------+-------------+----+---------------+-------+----------------+------------------+
|movie:1|      Vertigo|1958|          Drama|    USA|Alfred Hitchcock|     James Stewart|
|movie:1|      Vertigo|1958|          Drama|    USA|Alfred Hitchcock|         Kim Novak|
|movie:2|        Alien|1979|Science-Fiction|    USA|    Ridley Scott|  Sigourney Weaver|
|movie:3|      Titanic|1997|          Drama|    USA|   James Cameron|      Kate Winslet|
|movie:3|      Titanic|1997|          Drama|    USA|   James Cameron| Leonardo DiCaprio|
|movie:5|     Face/Off|1997|         Action|    USA|        John Woo|     John Travolta|
|movie:5|     Face/Off|1997|         Action|    USA|        John Woo|      Nicolas Cage|
|movie:6|Sleepy Hollow|1999|        Mystery|    USA|      Tim Burton|       Johnny Depp|
|movie:6|Sleepy Hollow|1999|        Mystery|    USA|      Tim Burton|   Christina Ricci|
|movie:6|Sleepy Hollow|1999|        Mystery|    USA|      Tim Burton|Christopher Walken|
+-------+-------------+----+---------------+-------+----------------+------------------+
only showing top 10 rows