In [1]:
#Spark Imports and Get Context

#https://spark.apache.org/docs/latest/sql-getting-started.html
from pyspark import SparkContext, SparkConf, SQLContext
from os import getcwd

conf = SparkConf().setAppName('SparkS1')
sc = SparkContext(conf=conf).getOrCreate()
spark = SQLContext.getOrCreate(sc)

In [2]:
#Code from 4_DataFrame

from pyspark.sql.types import StructType, StructField, IntegerType, FloatType, StringType, TimestampType

orderSchema = StructType(
[
  StructField('orderNumber',IntegerType()),
  StructField('orderDate',TimestampType()),
  StructField('requiredDate',TimestampType()),
  StructField('shippedDate',TimestampType()),
  StructField('status',StringType()),
  StructField('comments',StringType()),
  StructField('customerNumber',IntegerType()),
]
)

In [3]:
#Code from 4_DataFrame book

###########Order Summary#######################################

ODataFrame1 = spark.read.csv(
'../datasets/classicmodels/order.csv',
header=True,
schema=orderSchema,
nullValue='null'
)

ODataFrame1.show(5)

ODDataFrame1 = spark.read.csv(
'../datasets/classicmodels/orderdetail.csv',
header=True,
inferSchema=True,
nullValue='null'
)

#ODDataFrame1 = spark.read.format('csv').option('header','true').option('inferSchema','true').load('/FileStore/tables/cm/orderdetail.csv')
ODDataFrame1.show(5)

ODataFrameDrop = ODataFrame1.drop('requiredDate','shippedDate','comments')
OSummary = ODataFrameDrop.join(ODDataFrame1,'orderNumber','inner')
OSummary.show(5)

#Add column
OSumTotalAmount = OSummary.withColumn('totalAmount',OSummary.quantityOrdered * OSummary.priceEach)

OSumTotalAmount.show(5)


###########Product Summary#######################################
from pyspark.sql.functions import sum,round,col

productSummaryG = OSumTotalAmount.groupBy('productCode','orderDate','quantityOrdered')
#help(productSummaryG) -Grouped Data

productSummaryA = productSummaryG.agg(round(sum('totalAmount'),2).alias('totalSales'))
#type(productSummaryA) - DataFrame
#productSummaryA.show(5)

productSummaryS = productSummaryA.orderBy('productCode',col('orderDate').desc())
productSummaryS.show(5)

+-----------+-------------------+-------------------+-------------------+-------+--------------------+--------------+
|orderNumber|          orderDate|       requiredDate|        shippedDate| status|            comments|customerNumber|
+-----------+-------------------+-------------------+-------------------+-------+--------------------+--------------+
|      10100|2003-01-06 00:00:00|2003-01-13 00:00:00|2003-01-10 00:00:00|Shipped|                null|           363|
|      10101|2003-01-09 00:00:00|2003-01-18 00:00:00|2003-01-11 00:00:00|Shipped|Check on availabi...|           128|
|      10102|2003-01-10 00:00:00|2003-01-18 00:00:00|2003-01-14 00:00:00|Shipped|                null|           181|
|      10103|2003-01-29 00:00:00|2003-02-07 00:00:00|2003-02-02 00:00:00|Shipped|                null|           121|
|      10104|2003-01-31 00:00:00|2003-02-09 00:00:00|2003-02-01 00:00:00|Shipped|                null|           141|
+-----------+-------------------+-------------------+-------------------+-------+--------------------+--------------+
only showing top 5 rows

+-----------+-----------+---------------+---------+---------------+
|orderNumber|productCode|quantityOrdered|priceEach|orderLineNumber|
+-----------+-----------+---------------+---------+---------------+
|      10100|   S18_1749|             30|    136.0|              3|
|      10100|   S18_2248|             50|    55.09|              2|
|      10100|   S18_4409|             22|    75.46|              4|
|      10100|   S24_3969|             49|    35.29|              1|
|      10101|   S18_2325|             25|   108.06|              4|
+-----------+-----------+---------------+---------+---------------+
only showing top 5 rows

+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+
|orderNumber|          orderDate| status|customerNumber|productCode|quantityOrdered|priceEach|orderLineNumber|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_1749|             30|    136.0|              3|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_2248|             50|    55.09|              2|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_4409|             22|    75.46|              4|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S24_3969|             49|    35.29|              1|
|      10101|2003-01-09 00:00:00|Shipped|           128|   S18_2325|             25|   108.06|              4|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+
only showing top 5 rows

+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
|orderNumber|          orderDate| status|customerNumber|productCode|quantityOrdered|priceEach|orderLineNumber|totalAmount|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_1749|             30|    136.0|              3|     4080.0|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_2248|             50|    55.09|              2|     2754.5|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_4409|             22|    75.46|              4|    1660.12|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S24_3969|             49|    35.29|              1|    1729.21|
|      10101|2003-01-09 00:00:00|Shipped|           128|   S18_2325|             25|   108.06|              4|     2701.5|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
only showing top 5 rows

+-----------+-------------------+---------------+----------+
|productCode|          orderDate|quantityOrdered|totalSales|
+-----------+-------------------+---------------+----------+
|   S10_1678|2005-05-13 00:00:00|             66|   5242.38|
|   S10_1678|2005-04-08 00:00:00|             24|   2044.08|
|   S10_1678|2005-04-01 00:00:00|             40|    3100.8|
|   S10_1678|2005-03-03 00:00:00|             42|   3376.38|
|   S10_1678|2005-02-03 00:00:00|             21|   1607.76|
+-----------+-------------------+---------------+----------+
only showing top 5 rows

In [4]:
#SQL Commands

#Creating Database and Querying
spark.sql('CREATE DATABASE sparkHive')
OSumTotalAmount.write.saveAsTable('sparkHive.OSumTotalAmount')

#######help(OSumTotalAmount.write)

spark.sql('SELECT * FROM sparkHive.OSumTotalAmount').show(5)  #select statements return DF

#Views
OSumTotalAmount.createOrReplaceTempView('orderSummary')

spark.sql('SELECT * FROM sparkHive.OSumTotalAmount').show(5) 

#joins are also possible with 2 temp views

spark.sql('SELECT distinct customerNumber FROM sparkHive.OSumTotalAmount').show(5)

+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
|orderNumber|          orderDate| status|customerNumber|productCode|quantityOrdered|priceEach|orderLineNumber|totalAmount|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_1749|             30|    136.0|              3|     4080.0|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_2248|             50|    55.09|              2|     2754.5|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_4409|             22|    75.46|              4|    1660.12|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S24_3969|             49|    35.29|              1|    1729.21|
|      10101|2003-01-09 00:00:00|Shipped|           128|   S18_2325|             25|   108.06|              4|     2701.5|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
only showing top 5 rows

+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
|orderNumber|          orderDate| status|customerNumber|productCode|quantityOrdered|priceEach|orderLineNumber|totalAmount|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_1749|             30|    136.0|              3|     4080.0|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_2248|             50|    55.09|              2|     2754.5|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S18_4409|             22|    75.46|              4|    1660.12|
|      10100|2003-01-06 00:00:00|Shipped|           363|   S24_3969|             49|    35.29|              1|    1729.21|
|      10101|2003-01-09 00:00:00|Shipped|           128|   S18_2325|             25|   108.06|              4|     2701.5|
+-----------+-------------------+-------+--------------+-----------+---------------+---------+---------------+-----------+
only showing top 5 rows

+--------------+
|customerNumber|
+--------------+
|           148|
|           496|
|           471|
|           458|
|           321|
+--------------+
only showing top 5 rows

In [5]:
#Window functions
#mySQL reference - https://dev.mysql.com/doc/refman/8.0/en/window-functions-usage.html


from pyspark.sql.window import Window
from pyspark.sql.functions import *

#E1 - Cumulative Sales Quantity for each Product ordered by orderDate --productSummaryS is sorted by product code, order date desc

prodSum1 = productSummaryS.withColumn('cumulativeQty', sum('quantityOrdered').over(Window.orderBy('orderDate').partitionBy('productCode')))

#E2 - Top 3 Product each day
prodSum2 = productSummaryS.withColumn('prodRank', rank().over(Window.orderBy(col('totalSales').desc()).partitionBy('orderDate')))

#Filter top3
prodSum2F = prodSum2.filter(prodSum2.prodRank < 4)

#E3- Add SL number
prodSum2F1 = prodSum2F.withColumn('rowNum', row_number().over(Window.orderBy('orderDate','prodRank')))


prodSum1.show()
prodSum2.show()
prodSum2F.show()
prodSum2F1.show()

+-----------+-------------------+---------------+----------+-------------+
|productCode|          orderDate|quantityOrdered|totalSales|cumulativeQty|
+-----------+-------------------+---------------+----------+-------------+
|   S18_4600|2003-01-29 00:00:00|             36|   3530.52|           36|
|   S18_4600|2003-04-01 00:00:00|             41|   4318.94|           77|
|   S18_4600|2003-05-28 00:00:00|             50|    5146.0|          127|
|   S18_4600|2003-07-24 00:00:00|             40|    4020.0|          167|
|   S18_4600|2003-09-19 00:00:00|             49|   5458.11|          216|
|   S18_4600|2003-10-21 00:00:00|             45|    4849.2|          261|
|   S18_4600|2003-11-06 00:00:00|             47|   4837.24|          308|
|   S18_4600|2003-11-13 00:00:00|             21|   2491.86|          329|
|   S18_4600|2003-11-25 00:00:00|             32|   3642.24|          361|
|   S18_4600|2003-12-09 00:00:00|             47|   5633.89|          408|
|   S18_4600|2004-02-04 00:00:00|             38|   4509.08|          446|
|   S18_4600|2004-03-11 00:00:00|             41|   4914.67|          487|
|   S18_4600|2004-05-04 00:00:00|             21|   2339.19|          508|
|   S18_4600|2004-06-15 00:00:00|             41|   4418.16|          549|
|   S18_4600|2004-07-19 00:00:00|             38|   4094.88|          587|
|   S18_4600|2004-08-19 00:00:00|             25|    2421.5|          612|
|   S18_4600|2004-09-08 00:00:00|             48|   4649.28|          660|
|   S18_4600|2004-10-13 00:00:00|             22|    2477.2|          682|
|   S18_4600|2004-10-22 00:00:00|             28|   3085.04|          710|
|   S18_4600|2004-11-05 00:00:00|             47|   4552.42|          757|
+-----------+-------------------+---------------+----------+-------------+
only showing top 20 rows

+-----------+-------------------+---------------+----------+--------+
|productCode|          orderDate|quantityOrdered|totalSales|prodRank|
+-----------+-------------------+---------------+----------+--------+
|   S32_1374|2005-03-02 00:00:00|             44|   3516.04|       1|
|   S18_1589|2003-09-11 00:00:00|             47|   5088.22|       1|
|   S18_3232|2003-09-11 00:00:00|             32|   4606.08|       2|
|   S24_2887|2003-09-11 00:00:00|             34|   3913.06|       3|
|   S18_3685|2003-09-11 00:00:00|             28|   3797.64|       4|
|   S18_1984|2003-09-11 00:00:00|             25|    3414.0|       5|
|   S18_2870|2003-09-11 00:00:00|             27|   3065.04|       6|
|   S18_4409|2003-09-11 00:00:00|             34|    2847.5|       7|
|   S18_1129|2003-09-11 00:00:00|             23|   2636.95|       8|
|   S24_3432|2003-09-11 00:00:00|             27|   2601.99|       9|
|   S24_3191|2003-09-11 00:00:00|             31|   2229.21|      10|
|   S24_1628|2003-09-11 00:00:00|             47|   2175.63|      11|
|   S18_4933|2003-09-11 00:00:00|             29|   1922.12|      12|
|   S24_1046|2003-09-11 00:00:00|             25|   1635.25|      13|
|   S24_2766|2003-09-11 00:00:00|             21|   1622.04|      14|
|   S24_2011|2004-11-09 00:00:00|             41|   4937.63|       1|
|   S18_4522|2004-11-09 00:00:00|             50|    3686.5|       2|
|   S24_3151|2004-11-09 00:00:00|             41|   3556.34|       3|
|   S18_3259|2004-11-09 00:00:00|             32|   3033.28|       4|
|  S700_1138|2004-11-09 00:00:00|             39|   2366.13|       5|
+-----------+-------------------+---------------+----------+--------+
only showing top 20 rows

+-----------+-------------------+---------------+----------+--------+
|productCode|          orderDate|quantityOrdered|totalSales|prodRank|
+-----------+-------------------+---------------+----------+--------+
|   S32_1374|2005-03-02 00:00:00|             44|   3516.04|       1|
|   S18_1589|2003-09-11 00:00:00|             47|   5088.22|       1|
|   S18_3232|2003-09-11 00:00:00|             32|   4606.08|       2|
|   S24_2887|2003-09-11 00:00:00|             34|   3913.06|       3|
|   S24_2011|2004-11-09 00:00:00|             41|   4937.63|       1|
|   S18_4522|2004-11-09 00:00:00|             50|    3686.5|       2|
|   S24_3151|2004-11-09 00:00:00|             41|   3556.34|       3|
|   S18_3232|2005-05-03 00:00:00|             60|    9449.4|       1|
|   S24_2300|2005-05-03 00:00:00|             70|    7693.0|       2|
|   S18_2319|2005-05-03 00:00:00|             56|   6735.68|       3|
|   S10_4757|2005-04-01 00:00:00|             64|   8616.96|       1|
|   S24_1578|2005-04-01 00:00:00|             57|   5974.17|       2|
|   S18_3856|2005-04-01 00:00:00|             58|   5157.94|       3|
|   S18_2325|2004-04-26 00:00:00|             47|   5257.89|       1|
|   S24_1937|2004-04-26 00:00:00|             33|   1018.71|       2|
|   S24_1785|2005-05-10 00:00:00|             47|   4268.54|       1|
|  S700_2834|2005-05-10 00:00:00|             41|   4037.68|       2|
|   S32_1374|2005-05-10 00:00:00|             45|    3910.5|       3|
|   S18_1984|2003-10-17 00:00:00|             48|   6691.68|       1|
|   S18_3685|2003-10-17 00:00:00|             36|    4780.8|       2|
+-----------+-------------------+---------------+----------+--------+
only showing top 20 rows

+-----------+-------------------+---------------+----------+--------+------+
|productCode|          orderDate|quantityOrdered|totalSales|prodRank|rowNum|
+-----------+-------------------+---------------+----------+--------+------+
|   S18_1749|2003-01-06 00:00:00|             30|    4080.0|       1|     1|
|   S18_2248|2003-01-06 00:00:00|             50|    2754.5|       2|     2|
|   S24_3969|2003-01-06 00:00:00|             49|   1729.21|       3|     3|
|   S18_2795|2003-01-09 00:00:00|             26|   4343.56|       1|     4|
|   S18_2325|2003-01-09 00:00:00|             25|    2701.5|       2|     5|
|   S24_2022|2003-01-09 00:00:00|             46|    2040.1|       3|     6|
|   S18_1342|2003-01-10 00:00:00|             39|   3726.45|       1|     7|
|   S18_1367|2003-01-10 00:00:00|             41|   1768.33|       2|     8|
|   S10_1949|2003-01-29 00:00:00|             26|    5571.8|       1|     9|
|   S10_4962|2003-01-29 00:00:00|             42|   5026.14|       2|    10|
|   S18_3320|2003-01-29 00:00:00|             46|   3970.26|       3|    11|
|   S12_4473|2003-01-31 00:00:00|             41|   4566.99|       1|    12|
|   S18_4027|2003-01-31 00:00:00|             38|    4529.6|       2|    13|
|   S12_3148|2003-01-31 00:00:00|             34|   4468.96|       3|    14|
|   S12_1108|2003-02-11 00:00:00|             41|   8434.52|       1|    15|
|   S10_4757|2003-02-11 00:00:00|             50|    6392.0|       2|    16|
|   S24_2011|2003-02-11 00:00:00|             43|   5072.71|       3|    17|
|   S18_1662|2003-02-17 00:00:00|             36|   4825.44|       1|    18|
|   S18_3856|2003-02-17 00:00:00|             41|   3863.02|       2|    19|
|  S700_2834|2003-02-17 00:00:00|             32|    3644.8|       3|    20|
+-----------+-------------------+---------------+----------+--------+------+
only showing top 20 rows